html, body {
	height: 100%;
	font-size: 12px;
	font-family: open_sansregular;
}

#bs-table-container {
	display: block;
	width: 100%;
	height: 100%;
}

/*********************************
 ** LEFT PART
 ********************************/

#bs-left {
    display: table-cell;
    vertical-align: top;
    width: 232px;
    min-height: 100%;
    float: left;
    background: #F5F5F6;
    border-right: 1px solid #e5e6e8;
    z-index: 100;
}

#bs-left-logo {
	text-align: center;
	padding-top: 10px;
}

#bs-left-logo img {
	max-width: 160px;
	max-height: 64px;
	text-align:center;
	margin: 0 auto;
	margin-top: 3px;
}

#bs-left-menu {
	padding: 24px;
}


/*********************************
 ** MAIN PART
 ********************************/

#bs-main {
	display: table-cell;
	margin-left: 232px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #e8ebf;
}

/** HEADER **/

#bs-main-header {
	background: #EFF0F1;
	border-bottom: 1px solid #E5E6E8;
	color: #7C818D;
	padding: 0 20px;
	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*font-size: 12px;*/
}

#bs-main-header .material-icons {
	vertical-align: middle;
	font-size: 24px;
}

#bs-main-header-title {
	color: #FF414E;
	font-size: 18px;
}

#bs-main-header-menu ul {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
}

#bs-main-header-menu li.middle {
	text-align: right;
	margin-left: 40px;
	margin-right: 10px;
}

#bs-main-header-menu li.middle span:first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

/**AVATAR MENU**/

#avatarIconMenu{
	cursor: pointer;
}

#avatarContainer {
	position: relative;
	margin: 0 auto;
}

#avatarContainer .containerFloating {
	background-color: #FFFFFF;
	box-shadow: 0px 3px 3px 0px rgba(46, 40, 64, 0.5);
	position: absolute;
	width: 230px;
	z-index: 100;
	right: -15px;
    top: 52px;
}

.containerFloating hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

#bs-main-header-menu .material-icons {
	cursor: pointer;
}


.linkAvatarDiv {
	padding: 10px;
}

.linkAvatarDiv a {
	text-decoration: none;
	color: #7C818D;
	font-size: 12px;
	margin-left: 16px;
	display: inline-block;
	vertical-align: text-top;
}

.linkAvatarDiv a:hover {
	color: #ff414e;
}

.linkAvatarDiv i {
	margin-right: 15px;
}

.linkAvatarDiv.logout {
	border-top: 1px solid #e5e6e8;
}

.notClickable {
	cursor: default !important;
	color: #CBCDD1 !important;
}

/**NOTIFICATION MENU**/

#notificationContainer {
	display: none;
	position: relative;
	margin: 0 auto;
}

#notificationContainer .containerFloating {
	background-color: #fff;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	position: absolute;
	top: 50px;
	right: 0;
	width: 340px;
	z-index: 1000;
	animation: slideDown 0.3s ease-out;
	overflow: hidden;
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.linkNotificationDiv {
	padding: 16px 20px;
	border-bottom: 1px solid #f0f0f0;
	/*display: flex;*/
	align-items: center;
	transition: background 0.2s ease-in-out;
}

.linkNotificationDiv:last-child {
	border-bottom: none;
}

.linkNotificationDiv:hover {
	background-color: #f9f9f9;
}

.linkNotificationDiv a {
	text-decoration: none;
	color: #242833;
	font-size: 13px;
	font-weight: 500;
	flex: 1;
}

.linkNotificationDiv a:hover {
	color: #ff414e;
}

.linkNotificationDiv i {
	margin-right: 12px;
	color: #ff414e;
	font-size: 18px;
	min-width: 20px;
	text-align: center;
}

/* Removed number badge styling */
#notificationNumberSign {
	display: none;
}
/** CONTAINER **/

#bs-main-content-container {
	padding-top: 20px;
	padding-bottom:30px;
}

/** ALERTS **/
.bs-alert {
	display: none;
	background: #243042;
	color: white;
	border-bottom: 1px solid #E5E6E8;
	padding: 20px;
	min-height: 64px;
	text-align:right;
}

.bs-alert-left {
	text-align:left;
}

.bs-alert.bs-alert-info {
	background: #242833;
}

.bs-alert.bs-alert-danger {
	background: #dd0000;
}

.bs-alert-message {
	font-size: 15px;
}

.bs-alert-close {
	float: right;
	cursor: pointer;
	margin-left: 15px;
}


/* Speciacial Case Dailysales home widget */
/*.bs-sub-alert[data-alert-id=datamusicBetaAlert] {
    background-color: #3377E0 !important;
    color: #FFFFFF;
    text-align: right;
}*/

/*********************************
 ** STICKY MENU
 ********************************/
#bs-table-container.bs-sticked #bs-left {
	position:fixed;
	display:block;
	min-height:100%;
}

#bs-table-container.bs-sticked #bs-main {
	display:block;
	min-height:100%;
}

/*********************************
 ** BOOTSRAP OVERWRITE
 ********************************/
a,
.text-primary {
	color: #0070e0;
}

.modal-header {
	height: 72px;
	padding: 24px;
	font-size: 24px;
}

.modal-content {
	border-radius: 0px;
}

.modal-body {
	padding: 48px 24px 16px 24px;
}

.modal-footer {
	height: 84px;
	padding: 24px;
}

.btn-primary {
	color: #FFFFFF;

}

.btn {
	border-radius: 8px;
	margin: 1px 2px;
}

.nav.nav-tabs li.active a {
	border-bottom: 1px solid #f5f5f5;
	background: transparent;
}

.nav-tabs li:not(.active) a {
	color: 
}

.tab-pane.active .panel {
	background: transparent;
}

.table-hover>tbody>tr:hover {
	background-color:rgba(229,230,232,0.24);
}

/*.nav-tabs li:not(.active) .badge,*/
.btn.btn-primary {
	background-color: #7d2491;
	border-color: #ffffff00 !important;
  background: linear-gradient(to right, #792b97d4, #4c23bf96);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: #399af9;
	border-color: #399af9;
}

.pagination > li > a,
.pagination > li > span {
	color: #399af9;
}

/* form */
.labelError {
	color: #FF414E;
}

.form-control.inputError, .form-control.inputError:focus  {
	border-color: #FF414E;
}



.menu__icon  {
	position: absolute;
	background-color: white;
	border-radius: 24px;
	border: 1px solid #E5E6E8;
	height: 30px;
	width: 30px;
	padding: 2px;
	cursor: pointer;
	transition: border-color 0.25s linear;
}

.menu__icon:hover {
	border-color: #2699FB;
}

.menu__icon-open {
	display: block;
}

.menu__icon-collapse {
	display: none;
}

.menu__collapse .menu__icon-open {
	display: none;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}


/*
	New release popin
 */
.newReleaseModals-wrapper {
	background-color: #fff;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, .64);
	color: #7c808c;
	width: 550px;
	margin-top: 96px;
	font-family: "open_sansregular", sans-serif, Arial, Verdana, "Trebuchet MS";
}

.newReleaseModals-wrapper .header,
.newReleaseModals-wrapper .footer {
	background-color: #f6f7fa;
}

.newReleaseModals-wrapper .header {
	padding: 24px 32px 16px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
}

.newReleaseModals-wrapper .header .header_logo {
	text-align: center;
	margin: 0 auto 16px;
	height: 32px;
	display: none;
}

.newReleaseModals-wrapper .header .header_infos {
	display: flex;
	flex-direction: row;
}

.newReleaseModals-wrapper .header .state {
	width: 24px;
	margin-right: 12px;
}

.newReleaseModals-wrapper .container {
	width: 100%;
}

.newReleaseModals-wrapper .body {
	padding: 30px 72px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
}

.newReleaseModals-wrapper .body .step10,
.newReleaseModals-wrapper .body .step11,
.newReleaseModals-wrapper .body .step12,
.newReleaseModals-wrapper .body .step13,
.newReleaseModals-wrapper .body .step21,
.newReleaseModals-wrapper .body .step22,
.newReleaseModals-wrapper .body .step31,
.newReleaseModals-wrapper .body .step32 {
	height: 0;
	overflow: hidden;
}

.newReleaseModals-wrapper .body.step10 .step10,
.newReleaseModals-wrapper .body.step11 .step11,
.newReleaseModals-wrapper .body.step12 .step12,
.newReleaseModals-wrapper .body.step22 .step22,
.newReleaseModals-wrapper .body.step21 .step21 {
	height: 220px;
}

.newReleaseModals-wrapper .body .title {
	font-size: 15px;
	color: #242833;
}

.newReleaseModals-wrapper .body .subtitle {
	font-size: 13px;
	color: #b4b4b4;
	margin-top: 4px;
	height: auto;
}

.newReleaseModals-wrapper .body .content {
	margin-top: 8px;
}

.newReleaseModals-wrapper .body .content .radio{
	margin-top: 10px;
}

.newReleaseModals-wrapper .body .content .radio input{
	margin-left: 0;
}

.newReleaseModals-wrapper .body .content .radio label{
	padding-left: 32px;
}

.newReleaseModals-wrapper .body .content .radio .radioTitle {
	font-size: 13px;
	font-weight: bold;
	color: black;
}

.newReleaseModals-wrapper .body .content .radio .radioTitle.normal{
	font-weight: normal;
}

.newReleaseModals-wrapper .body .content .radio .radioSubtitle {
	font-size: 11px;
	color: #7c808c;
}

.newReleaseModals-wrapper .body .content .fillText {
	width: 100%;
	height: 30px;
	margin: 12.2px 217px 0 0;
	padding: 7.2px 10px 7.8px 11px;
	border-radius: 4px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	font-size: 13px;
}

.newReleaseModals-wrapper .body .content .fillText::-webkit-input-placeholder {
	font-style: italic;
}
.newReleaseModals-wrapper .body .content .fillText:-moz-placeholder {
	font-style: italic;
}
.newReleaseModals-wrapper .body .content .fillText::-moz-placeholder {
	font-style: italic;
}
.newReleaseModals-wrapper .body .content .fillText:-ms-input-placeholder {
	font-style: italic;
}

.newReleaseModals-wrapper .body.step12 .step12 #step12Compilation {
	display: flex;
	margin-top: 12px;
}

.newReleaseModals-wrapper .body.step12 .step12 #step12Compilation.none {
	display: none;
}

.newReleaseModals-wrapper .body.step12 .step12 #step12Compilation.none {
	display: none;
}

.newReleaseModals-wrapper .body.step12 .step12 #step12Compilation label {
	margin-left: 8px;
	font-size: 14px;
}

.newReleaseModals-wrapper .footer {
	padding: 0px 32px 24px;
	justify-content: flex-end;
	display: flex;
	margin-top: 24px;
}

.newReleaseModals-wrapper .btn  {
	border-radius: 24px;
	display: flex;
	height: 48px;
	padding: 12px 24px;
	font-size: 17px;
	font-weight: bold;
	margin-top: -24px;
	margin-left: 12px;
}

.newReleaseModals-wrapper .btn.btn-primary {
	background-color: #0078ff;
	color: #fff;
}

.newReleaseModals-wrapper .btn.btn-primary:hover {
	background-color: #0068de;
}

.newReleaseModals-wrapper .btn.btn-primary.disabled {
	background-color: #c2c4cc;
	border-color: #c2c4cc;
	color: #ffffff;
}

.newReleaseModals-wrapper .btn.none {
	display: none;
}

.newReleaseModals-wrapper .btn.btn-secondary {
	background-color: #ffffff;
	color: #7c808c;
}

.newReleaseModals-wrapper .btn.btn-secondary:hover,
.newReleaseModals-wrapper .btn.btn-secondary:active {
	background-color: #fafafa;
	box-shadow: none;
}

@media(max-width: 576px) {
	.newReleaseModals-wrapper {
		margin: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
	}

	.newReleaseModals-wrapper .header {
		padding-left: 60px;
		padding-right: 60px;
	}

	.newReleaseModals-wrapper .header .header_logo {
		display: block;
	}

	.newReleaseModals-wrapper .body {
		padding: 12px 60px;
		margin-top: 24px;
		flex-grow: 1;
	}

	.newReleaseModals-wrapper .body .title {
		font-size: 19px;
	}

	.newReleaseModals-wrapper .body .subtitle {
		font-size: 15px;
	}

	.newReleaseModals-wrapper .footer {
		padding: 0px 32px 48px;
		margin-top: auto;
	}
	.newReleaseModals-wrapper .body.step10 .step10,
	.newReleaseModals-wrapper .body.step11 .step11,
	.newReleaseModals-wrapper .body.step12 .step12,
	.newReleaseModals-wrapper .body.step21 .step21 {
		height: 100%;
	}

	.newReleaseModals-wrapper .body .content {
		margin-top: 32px;
	}

	.newReleaseModals-wrapper .body .content .radio .radioTitle {
		font-size: 15px;
	}

	.newReleaseModals-wrapper .body .content .radio .radioSubtitle {
		font-size: 13px;
	}
}

/*
	END New release popin
 */
@media (min-width: 768px) {
	#bs-main-header-icon {
		display: none;
	}

	#bs-left .menu__icon {
		top: 20px;
		right: -15px;
	}

	.menu__collapse .menu__icon-collapse {
		display: block;
	}

}
@media (max-width: 767px) {
	#bs-main-header-icon {
		display: block;
		margin-right: 12px;
	}

	#bs-left-logo {
		padding-top: 12px;
	}

	#bs-left .menu__icon {
		top: 10px;
		left: 20px;
	}

	.menu__collapse .menu__icon-close {
		display: block;
	}

	.menu__collapse #bs-left {
		display: none; !important;
	}
}

#bs-main-header-title span.group,
#bs-main-header-title span.program,
#bs-main-header-title .material-icons {
	font-size: 15px;
	font-weight: 600;
}

#bs-main-header-title span.group,
#bs-main-header-title .material-icons {
	color: #7c808c;
}

#bs-main-header-title span.program {
	color: #000000;
}

/*** Mobile Responsive ***/
@media(max-width: 576px) {
	#bs-main-header-menu {
		margin-left: 10px;
		min-width: 0;
	}
	#bs-main-header-title,
	#bs-main-header-menu .bs-client-number {
		display: none;
	}
	#bs-main-header-menu ul {
		padding: 0;
	}
	#bs-main-header-menu li.middle {
		margin-left: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/*** Zendesk ***/
.span {
	padding-right: 0.57143rem;
}
.help-btn {
	color: #fff;
	fill: #fff;
	padding: 0.92857rem 1.57143rem;
	border-radius: 999rem;
	bottom: 0;
	letter-spacing: 0.6;
	font-size: 1.07143rem;
}
.help-btn:focus {
	outline: none;
	box-shadow: inset 0 0 0 0.21429rem rgba(255, 255, 255, 0.4);
}
.icon-container {
	display: inline-block;
}
.icon-container:hover {
	color: currentColor;
}

.help-btn {
	background-color: #7f8193 !important;
	color: #18191C !important;
	fill: #18191C !important;
}
.help-container span {
	vertical-align: middle;
}
.help-btn .material-icons {
	padding-right: 0.57143rem;
}
.help-btn .help-btn-text {
	font-size: 16px;
	font-weight: bolder;
}
.help-container a {
	text-decoration: none;
}
.help-container{
	padding: 0;
	margin: 15px 20px;
	position: fixed;
	bottom: 0;
	overflow: visible;
	opacity: 1;
	border: 0;
	z-index: 99999998;
	right: 0;
	cursor: pointer;
}

/*** IBAN CSS ***/
.submit-btn {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #2699FB;
	background-color: rgb(38, 153, 251);
	border-radius: 34px;
	padding: 8px 16px;
	border: none;
}


.submit-btn[disabled="true"] {
	background-color: #C4C4C4;
}

#validationCode {
	width: 304px;
	padding: 16px 24px;
	border: none;
	border-bottom: 2px solid #C4C4C4;
	background: #F3F3F3;
}

#otcRequest{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	/* interactive/active */

	color: #2699FB;
	border: 1px solid #2699FB;
	box-sizing: border-box;
	border-radius: 34px;
	background: white;

}
