/* 
* @Author: Thibaut Boustany
* @Date:   2015-05-13 11:32:45
* @Last Modified by:   Thibaut Boustany
* @Last Modified time: 2015-09-24 11:22:17
*/

#bs-table-container {
	display: block !important;
}

.album-name
{
	margin: 5px 0;
	font-weight: bold;
	font-size: 24px;
}

.artist-name
{
	margin: 5px 0;
	font-size: 15px;
}

.album-details
{
	margin-top: 20px;
}

.btn-stores,
.btn-territories
{
width: 100%;
height: 25px;
padding-right: 10px;
}

.tabs-container
{
	margin-top: 20px;
}

.pn-modal-wide
{
	width: 70%;
}

.tab-content
{
	margin-top: 0px;
}

.refMatchPolicy-monetize,
.refMatchPolicy-block,
.yesno-green,
.yesno-red {
	text-transform: capitalize;
	font-weight: bold;
}

/* Yes = Red */
.refMatchPolicy-yes,
.yesno-red {
	color: #B71C1C; /* Red */
}

/* No = Green */
.refMatchPolicy-no,
.yesno-green {
	color: #449d44; /* Green */
}
.icons-bar .fa
{
	font-size: 24px;
	margin: 0 5px;
}

.icons-bar
{
	font-size: 18px;
	padding: 8px;
	margin: 10px 0;
}

.release-type-badge
{
	font-size: 14px;
	padding: 6px 12px;
	border-radius: 5px;
/*	border: 1px solid #ddd;
*/	background-color: transparent;
	color: #333;
}

.release-type-badge .fa-inverse
{
	color: white!important;
}

.release-type-badge .fa
{
	vertical-align: middle;
	color: #333;
}

.icons-bar-badge
{
	position: relative;
	left: 82%;
	top: -33px;
}

.page_action_collection
{
	margin: 0;
	color: black;
}

.alert-pending
{
	background: linear-gradient(145deg, #f0f0f0, #e2e2e2);
	box-shadow: 4px 4px 10px #d0d0d0, -4px -4px 10px #ffffff;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
}

.nav-tabs a
{
	color: #333;
}

.nav-tabs li a
{
	max-height: 3.2em;
}

.nav-tabs li:not(.active) a
{
	color: #337ab7;
}

.nav-tabs li:not(.active) .badge
{
	background-color: #399af9;
}

.popover
{
	max-width: 750px;
}

.popover ul
{
	padding-left: 15px;
}

.audio-quality-label
{
	padding-top: 12px;
}

#igt-info
{
	color: #333;
}

#trrtrs
{
	text-align: center;
}

.listContainer
{
	display: inline-block;
	text-align: initial;
}

.info-table td
{
	padding: 0 5px;
	vertical-align: top;
}

.info-table .info-cell-label
{
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}
@media screen and (max-width: 768px) {
	.info-table {
		margin-bottom: 10px;
	}

	.info-table .info-cell-label {
		text-align: start;
	}

	.catalog-product-name {
		width: fit-content !important;
	}

}

#updateCoverContainer a .alert{
	font-size: 20px;
	margin-left: 8px;
	padding: 5px 8px 3px 8px;
}

#uploadCoverLink div {
	padding: 13px 0px;
	background: rgba(255,255,255,0.9);
}

#updateCoverContainer {
	position: relative;
	/*background:red;*/
	max-width: 160px;
	padding: 5px;
	margin-top: -50px;
}